<div class="menu">
	{{#link-to 'index'}}index{{/link-to}} |
	{{#link-to 'about'}}about{{/link-to}}
	{{#if false}}
    	<a {{action 'invalidateSession'}}>Logout</a>
 	{{/if}}
</div>

<h2 id="title">Welcome to Ember</h2>

<div class="main">
  {{outlet}}
</div>