<div class="menu">
	{{#link-to 'index'}}index{{/link-to}} |
	{{#link-to 'about'}}about{{/link-to}}
	{{#if session.isAuthenticated}}
    	<a {{action 'logout'}}>Logout</a>
    {{else}}
		{{#link-to 'login'}}Login{{/link-to}}

 	{{/if}}
</div>

<h2 id="title">Welcome to Ember</h2>

<div class="main">
  {{outlet}}
</div>